@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #ea5a0c; /*#ea5a0c*/
  --dark-primary-color: #c65732; /*#c65732*/
  --secondary-color: #f6f5f6;
  --dark-secondary-color: #a2a6ad;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.btn-primary {
  @apply bg-[var(--primary-color)] hover:bg-[var(--dark-primary-color)] text-white py-1 px-4 rounded transition-all duration-300;
}

.btn-secondary {
  @apply bg-[var(--secondary-color)] hover:bg-[var(--dark-secondary-color)] text-black py-2 px-4 rounded transition-all duration-300;
}
